.title{
  font-size: x-large;
  margin: 0px 0px -1px;
  font-style:unset;
  word-wrap: break-word;
  text-align: center;    
}
.block1{
  font-size: x-large;
  margin-left: 60%;
  font-style: unset;
  word-wrap: break-word;
}

.tablefirst{
  text-align: center;
  font-size: 20px;
  margin-left:5%;
  word-wrap: break-word;
  width: 90%;
 
}
.num{
  font-size: 25px;
  margin-left: 80%;
}
.tab1{
  border-collapse:collapse ;
  word-wrap: break-word;
  border: 1px solid black;
}
.tab11{
  border-collapse:collapse ;
  border: 1px solid black;
  background-color:  rgb(205, 223, 236);
  word-wrap: break-word;
}

.tab2{
  border-collapse:collapse ;
  border: 1px solid black;
  background-color:rgb(138, 176, 214) ;
  width: 100%;
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
.tab21{
  border-collapse:collapse ;
  border: 1px solid black;
  background-color: rgb(205, 223, 236);
  color:rgb(0, 0, 0);

word-wrap: break-word;
}
.tab22{
border-collapse:collapse ;
border: 1px solid black;
border-left: 0;
color:rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
height: auto;

word-wrap: break-word;
}
.tab2101{
  border-collapse:collapse ;
  border: 1px solid black;
  border-right: 0;
  background-color: rgb(205, 223, 236);
  color:rgb(0, 0, 0);
  }
.tab2102{
  
  border-collapse:collapse ;
  border: 1px solid black;
  border-left: 0;
  background-color: rgb(205, 223, 236);
  color:rgb(0, 0, 0);
}
.tab21001{
  border-collapse:collapse ;
  border: 1px solid black;
  border-right: 0;
  color:rgb(0, 0, 0);
}
.tab21002{
  border-collapse:collapse ;
  border: 1px solid black;
  border-left: 0;
  color:rgb(0, 0, 0);
}
.tab31
{
border-collapse:collapse ;
border: 1px solid black;
background-color: rgb(205, 223, 236);
color:rgb(0, 0, 0);
text-align: center;
word-wrap: break-word;
}

.thfirst{
  margin-left: 90%;
width:  300px;
}
.thfirst1{
margin-left: 10%;
width:  250px;
}
.background{
background-color: rgb(205, 223, 236);

}

.textarea1{
 
width: 100%;
font-size: 18px;
border: 0px;
display: block;
box-sizing: border-box;
word-wrap: break-word;

resize: none;
}
.textarea01{
  margin-left: -25%;
  width: 98.5%;
  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  background-color:rgb(205, 223, 236); 
  resize: none;
}
.textarea02{
  margin-left: -25%;
  width: 98.5%;
  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  resize: none;
}
.textarea011{
  margin-left: 0;
  width: 25%;
  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  background-color:rgb(205, 223, 236); 
  resize: none;
}
.textarea012{
  
  margin-left: 0;
  width: 25%;

  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  resize: none;
}
.textarea020
{
  margin-left: 0;
  width: 98.5%;
  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  resize: none;
}
.textarea010
{
  margin-left: 0;
  width: 98.5%;
  height: 100%;
  font-size: 18px;
  border: 0px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  background-color:rgb(205, 223, 236); 
  resize: none;
}
.space{
  border-top: 1px solid black;
 
}
.text2page{

font-size: 21px;
margin-left: 35px;
}

textarea {
width: 100%;

font-size: 16px;
border: 0;
display: block;
resize: none;
min-height: 50px;
}

.textarea2{
  width: 99%;
  background-color: rgb(205, 223, 236);
  font-size: 18px;
  border: 100px;
 
  
  max-height: auto;
}

.iputt{
  word-wrap:break-word;
}
.inp{
  border: 0;
  width: 90%;
  text-align: center;
  background-color: rgb(205, 223, 236);
  margin-left: -20%;
}
.inp1{
  border: 0;
  width: 90%;
  text-align: center;
  background-color: rgb(205, 223, 236);
}
.inp2{
  border: 0;
  width: 90%;
  text-align: center;
}
.inp3{
  border: 0;
  width: 60%;
}
.inp4{
  border: 0;
  width: 20%;
}
.inp5{
  border: 0;
  width: 7%;
}
.inp6{
  border: 0;
  width: 90%;
}
.pg2{
font-size: 20px;
}